body {
    margin: 0;
    padding: 0;
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: fit-content;
    height: fit-content;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 13%;
    color: #fff;
    padding: 20px;
    display: inline-block;
    margin-left: 30%;

}

h1 {
    font-size: 48px;
}


p {
    font-size: 24px;
}

#brand span {
    position: relative;
    z-index: 1;
    text-align: left;
    color: white;
    font-weight: bolder;
    font-size: 80px;
    margin-top: 30px;
    padding: 30px;

}

.nav li {
    list-style: none;
    background-color: rgb(18, 154, 247);
    margin: 5px;
    color: white;
    padding: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
    font-size: 20px;

}

.nav li:hover {
    color: black;
    border-radius: 10px;
    margin-left: 10px;
    background-color: white;
}

.nav {
    text-align: right;
    position: relative;
    margin-left: 60%;
    margin-top: -60px;
}

.btn {
    background: transparent;
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    display: inline-block;
    margin-top: 25px;
    border: 2px solid #fff;
    transition: background .6s ease-in;
}

.btn:hover {
    background: rgb(18, 154, 247);
    color: #000;
}
.trending{
    height: 800px;
    width: 100%;
    background-color: black;
    margin-top: 200px;
    position: relative;
}
#trend{
    margin-top: 500px;
}
.trendimages{
    height: 300px;
    width: 100%;

}
.imgtitle{
    position: absolute;
    margin-top: 10px;
    color: white;
    text-shadow: 0px 0px  10px black;
    margin-left: 20px;

}
.imgex{
    height: 150px;
    border-radius: 10px;
}
